* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
}

body {
    background-size: 100%;
    background-image: url(las_vegas.png);
    background-repeat: no-repeat;
    max-width: 100%;
}

h1 {
    color: rgb(255, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

.conjunto_de_tres div {
    width: 100px;
    height: 100px;
    border: 3px solid #9400d3;
    display: inline-flex;
    background-repeat: no-repeat;
}

.imagem {
    width: 100%;
    font-size: 0;
    display: inline-flex;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 20px;
    background: -webkit-gradient( linear, left top, left bottom, from(#ff2819), to(#ab0000));
    -moz-border-radius: 0px;
    border-radius: 15px;
    border: 1px solid #7d0000;
    box-shadow: 0px 1px 3px #00000080, inset 0px 0px 2px #ffffffb3;
}